.toast-container{
    position: fixed;
    bottom: 25px;
    right: 30px;
    border-radius: 12px;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #b3d4e5;
    background-color: #fff;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-container.error{
    border-left: 6px solid #bf2032;
}

.toast-container.active{
    transform: translateX(0%);
}

.toast-content{
    display: flex;
    align-items: center;
}

.toast-content .success{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #b3d4e5;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .error{
    display: none;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #bf2032;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1{
    font-weight: 600;
    color: #333;
}

.toast-container .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    opacity: .7;
    pointer-events: auto;
    cursor: pointer;
    transition: all .5s;
}

.toast-container .close:hover{
    opacity: 1;
}

.toast-container .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
}

.toast-container .progress::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #b3d4e5;
}

.toast-container .progress.error::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #bf2032;
}

.progress.active::before{
    animation: progress 5s linear forwards;
}

@keyframes progress{
    100%{
        right: 100%;
    }
}