.map-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.control-container{
  position: absolute;
  top: 70px;
  left: 250px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 5px 10px;
  z-index: 1000;
}

.control-container .title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.control-container label {
  margin-right: 10px;
  font-size: .7rem;
}

.control-container input{
  margin-right: 20px;
  border: none;
  border-radius: 7px;
  padding: 5px;
  font-size: .7rem;
}

.control-container button{
  outline: none;
  border: none;
  background-color: #1d3762;
  padding: 7px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: .7rem;
}

.control-container button:hover{
  background-color: #3261ad;
}

.control-container button:active{
  background-color: #1d3762;
}