/* ========== Reset - Normalize ========= */
.detail-body {
    box-sizing: border-box;
    margin-top: 80px;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;

    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* ========= Reuseable Styles ========== */
.gen-section {
    position: relative;
    overflow: hidden;
}

.gen-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.gen-sub-container {
    padding-top: 7em;
    padding-bottom: 5em;
}

.gen-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 75px;
}

.section-title h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 75px;
}

button {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.fill-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    background-color: #0f2343;
}

.border-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    color: #0f2343;
    border: 1px solid #0f2343;
}

/* ========== Campaign Detail ========== */
/* ---------- Title ---------- */
.detail-title .status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-title .status .campaign-status {
    margin-right: 20px;
}

/* ---------- Detail - Image ---------- */
.detail-image-container {
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
}

/* ----- Image ----- */
.detail-img {
    position: relative;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.detail-img img {
    width: 100%;
    border-radius: 15px;
}

.gallery-container{
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: 10px;
    row-gap: 12px;
    margin: 38px 0; */
    /* display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap; */
}

.gallery img {
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}

.gallery-title {
    width: 100%;
    margin: 25px 0;
    border-bottom: 3.5px solid #0f2343;
    color: #0f2343;
    font-weight: 600;
    font-size: 1.1rem;
}

/* ----- Detail ----- */
.detail-details {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Campaign Info */
.detail-info .target {
    margin-bottom: 30px;
}

.detail-info .detail-description,
.detail-info .detail-more {
    line-height: 25px;
}

.detail-info .detail-more span {
    font-weight: 600;
}

/* USer Info */
.detail-user {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}

.detail-user .user-name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 10px;
}

.detail-user .user-name a {
    text-decoration: none;
    color: black;
}

.detail-user .user-name a:hover {
    color: #0f2343;
}

.detail-user .profile-wrapper img {
    border-radius: 100%;
}

.detail-user .user-name .text-sm {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(81, 86, 93, 0.844);
}

/* Statistics */
.pro-list {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    column-gap: 10px;
    row-gap: 12px;
    margin: 38px 0;
}

.pro-card {
    background-color: #ebf1fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    text-align: left;
    border-radius: 5px;
}

.pro-card span {
    font-size: 2.75rem;
    font-weight: 600;
    color: #435362;
}

.pro-card p {
    line-height: 20px;
}

/* Participate - Donate */
.detail-button {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}

/* Recipient Review */
.rev-section {
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
}

.rev-section .title {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #0f2343;
    margin: 5rem 0 .5rem 0;
    padding: .7rem 0;
    font-weight: 600;
    border-top: 2px solid #0f2343;
    border-bottom: 2px solid #0f2343;
}

.rev-section .reviews {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.rev-section .review {
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
}

.rev-section .head-review {
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
}

.rev-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.rev-section .body-review {
    /* background-color: rgb(238, 238, 238); */
    background-color: #ebf1fd;
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}

.rev-section .name-review {
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
}

.rev-section .rating {
    color: rgb(253, 180, 42);
    margin: 1rem 0;
}

.rev-section .desc-review {
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}


/* Tab */
.tab-container {
    /* width: 80vmin;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 120px; */
    margin: 3rem 0;
}

.tab-container .tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tab-container button {
    /* background-color: #4d5bf9; */
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
}

.tab-container .tab-content {
    padding: 50px 40px;
}

.tab-container .tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
}

.tab-container .tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tab-container .tab-content .tab-content-div {
    display: none;
}

.tab-container .tab-content .active {
    display: block;
}

.tab-container .tabs .active {
    border-bottom: 3px solid #0f2343;
    /* color: #4d5bf9; */
}


.table-container {
    margin-top: 40px;
    color: #4f546c;
    font-size: 0.9rem;
}

/* Table */
table {
    width: 100%;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: #fff;
    text-align: left;
    overflow: hidden;

    thead {
        box-shadow: 0 5px 10px #e1e5ee;
    }

    th {
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        font-weight: 900;
        color: #1d3762;
    }

    td {
        padding: 1rem 2rem;
    }

    a {
        text-decoration: none;
        color: #55b8e9;
        font-weight: 600;
        transition: all .3s;
    }

    a:hover {
        color: #2895cb;
    }

    .td-status {
        width: 30px;
    }

    .status {
        border: none;
        outline: none;
        background: none;
        width: 100px;
        border-radius: .4rem;
        background-color: #d4fedc;
        padding: 0.2rem 1rem;
        text-align: center;
        cursor: pointer;
        transition: all .1s;
    }

    .Disabled {
        background-color: #fdd8cd;
    }

    .status:active {
        scale: 80%;
    }

    /* Color alternating rows */
    tr:nth-child(even) {
        background-color: #f4f6fb;
    }
}

/* Load more table */
.load-more {
    display: flex;
    justify-content: end;
    margin: 20px 0;

}

.load-more button {
    /* font-size: 1.2rem; */
    font-weight: 400;
    color: #1d3762;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    transition: all .5s;
}

.load-more button:active {
    color: #1d3762;
}

/* Filter Form */
.filter-container form {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.filter-container form .information-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.filter-container form .column{
    display: flex;
    column-gap: 15px;
}

.filter-container .form .input-box {
    width: 100%;
    margin-top: 20px;
}

.filter-container .input-box label {
    color: #333;
}

.filter-container .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.filter-container .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* Drop down */
.dropdown{
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 300px; height: 50px;
    z-index: 999;
}

/* .dropdown::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: all .5s;
    pointer-events: none;
} */

.dropdown.active::before{
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 500;
}

.dropdown .option{
    position: absolute;
    top: 100px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: none;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option .option-value{
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option .option-value:hover{
    background: #b3d4e5;
    color: #fff;
}

/* Button Form */
.filter-container .form .button-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 1.5rem 2rem;
}

.filter-container .form .button-form button,
.button-form button{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebf1fd;
    border-radius: 10px;
    color: #1d3762;
}

.filter-container .form .button-form .download:nth-child(2){
    margin-top: 2rem;
    background-color: #d0fcdf;
}

.expesne-button-form{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.filter-container .form .button-form .expense-download{
    width: 100px;
    background-color: #d0fcdf;
}

/* Rating */
.rated-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.rated-list .rated-box{
    /* width: 500px; */
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
}

.rated-list .rated-box .delete-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.rated-list .rated-box .delete-box i{
    cursor: pointer;
}

.rated-list .rated-box .profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.rated-list .rated-box .profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.rated-list .rated-box .profile{
    display: flex;
    align-items: center;
}

.rated-list .rated-box .profile .name-user{
    display: flex;
    flex-direction: column;
}

.rated-list .rated-box .profile .name-user strong{
    /* color: #3d3d3d3d; */
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.rated-list .rated-box .profile .name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.rated-list .rated-box .reviews{
    color: #f9d71c;
}

.rated-list .rated-box .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.rated-list .rated-box .client-comment{
    font-size: 0.9rem;
    color: #4b4b4b;
}

/* Rate Form */
.rate-wrapper {
	background: hsl(0, 0%, 100%);
	padding: 2rem;
	/* max-width: 576px; */
	width: 100%;
	border-radius: .75rem;
	box-shadow: 8px 8px 30px rgba(0,0,0,.05);
	text-align: center;
}
.rate-wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rate-wrapper .rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: #FFBD13;
	margin-bottom: 2rem;
}
.rate-wrapper .rating .star {
	cursor: pointer;
}
.rate-wrapper .rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rate-wrapper .rating .star:hover {
	transform: scale(1.1);
}
.rate-wrapper textarea {
	width: 100%;
	background: #F5F5F5;
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.rate-wrapper .btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.rate-wrapper .btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.rate-wrapper .btn-group .btn.submit {
	background: #bdcff1;
	color: #FFF;
}
.rate-wrapper .btn-group .btn.submit:hover {
	background: #778cb2;
}
.rate-wrapper .btn-group .btn.cancel {
	background: #FFF;
	color: #1d3762;
}
.rate-wrapper .btn-group .btn.cancel:hover {
	background: #F5F5F5;
}

/* =============== Confirmỉmation Popup =============== */
#confirmation {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #e3f2fd;
}

.accept-btn,
.close-btn {
    margin: 10px 0px 10px 10px;
    width: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 6px 12px;
    border: none;
    background: #bf2032;
    border-radius: 6px;
    cursor: pointer;
}

.accept-btn:hover,
.close-btn:hover {
    background-color: #961221;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

#confirmation.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#confirmation.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box i {
    font-size: 5rem;
    color: #bf2032;
}

.modal-box h2 {
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

@media (max-width: 678px) {
    .rev-section .review {
        margin-top: 1.5rem;
    }
}

.add-expense-container{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: #1d3762; */
}

.add-expense-container button{
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #1d3762;
}

.delete-expense-btn{
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    height: 45px;
    padding: 0;
    text-align: center;
    background-color: #ffa0ab;
}

/* =============== Add Form =============== */
#add-form-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

#add-form-container .form {
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 700px;
    max-height: 600px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
    overflow: auto;
}

#add-form-container.active .form {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

#add-form-container .form .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-form-container .form .header .title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

#add-form-container .form .header i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

#add-form-container .form .header i:hover {
    color: #10336b;
}

#add-form-container .form .input-box {
    width: 100%;
    margin-top: 20px;
}

#add-form-container .input-box label {
    color: #333;
}

#add-form-container .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

#add-form-container .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#add-form-container .form .column {
    display: flex;
    column-gap: 15px;
}

#add-form-container .form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #1d3762;
}

#add-form-container .form button:hover {
    background: #0f2343;
}

/* =============== Confirmỉmation Popup =============== */
#confirmation {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #e3f2fd;
}

.accept-btn,
.close-btn {
    margin: 10px 0px 10px 10px;
    width: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 6px 12px;
    border: none;
    background: #bf2032;
    border-radius: 6px;
    cursor: pointer;
}

.accept-btn:hover,
.close-btn:hover {
    background-color: #961221;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

#confirmation.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#confirmation.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box i {
    font-size: 5rem;
    color: #bf2032;
}

.modal-box h2 {
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

/* =============== Responsive =============== */
@media screen and (max-width: 500px) {
    #add-form-container .form .column {
        flex-wrap: wrap;
    }
}